@charset "UTF-8";


@font-face {
    font-family: 'KGMidnightMemories.ttf';
    src: url('../fontes/KGMidnightMemories.ttf') format(truetype);
    font-weight: normal;

    font-family: 'BlueSignature_PERSONAL_USE_ONLY.otf';
    src: url('../fontes/BlueSignature_PERSONAL_USE_ONLY.otf') format(opentype);
    font-weight: normal;

    font-family: 'sansation';
    src: url('../fontes/Sansation_Regular.ttf') format(truetype);
    font-weight: normal;

    font-family: 'Please write me a song.ttf';
    src: url('../fontes/Please\ write\ me\ a\ song.ttf') format(truetype);
    font-weight: normal;
}

:root {
    --cor0: #d1ebe8b2;
    --cor1: #88EBE0;
    --cor2: #A1B5B3;
    --cor3: #6AB8AF;
    --cor4: #3E6B66;
    --cor5: #3F6B67;


    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'KGMidnightMemories.ttf', cursive;  
    --fonte-crianca: 'BlueSignature_PERSONAL_USE_ONLY.otf', curvive;
    --fonte-sansation: 'sansation', curvisa;
    --fonte-please: 'Please write me a song.ttf', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

 body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
  
 }

 header {
   
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
    
 }

  header > h1 {
    color: #0f1f1d;
    font-size: 3em;
    font-weight: normal;
    font-family: var(--fonte-sansation);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #1a645d50;
   
   
  }

  header > h2 {
    color: #0f1f1d;
    font-size: 3em;
    font-weight: normal;
    font-family: var(--fonte-sansation);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #1a645c8a;
  }

  header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #0f1f1d;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.171);
    line-height: 1.2em;
  }

  nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.411);
    line-height: 1.2em;
  
  }

  nav > a {
    color:  #0f1f1d;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    line-height: 1.2em;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 1.2em;
}

main h1 {
    text-align: center;
    color: #0b2c25ee;
    font-family: var(--fonte-sansation);
    font-weight: normal;
    font-size: 1.8em;
  
}

main h2 {
    text-align: center;
    font-family: var(--fonte-sansation);
    color: #0b2c25ee;
    font-size: 1.5em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 7px;
    line-height: 1.2em;
}

main p {
    font-family: var(--fonte-padrao);
    margin: 10px 0px;
    text-align: justify;
    text-indent: 15px;
    font-size: 1em;
    line-height: 2em;
}



div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.397);
  
}

aside > h2 {
    text-align: center;
    background-color: var(--cor2) ;
    font-family: var(--fonte-please);
    color: #0f1f1d;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > h3 {
    text-align: center;
    background-color: var(--cor2);
    font-family: var(--fonte-sansation);
    color: #0f1f1d;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    margin: 20px 10px;
    list-style-position: inside;
    columns: 1;
    
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}